@{
  Layout = "_Layout";
}

<div class="container-fluid" id="page-container">
  <br>

  <h1><strong>Profile: </strong>Taylor Somers</h1>

  <br>

  <div class="card" style="width: 36rem;">
    <img class="card-img-top" src="~/img/profile/portfolio.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Your Portfolio</h5>
      <p class="card-text">See your balance, your returns, your road to wealth.</p>
      <a href="/Account/MockupPortfolioView" class="btn btn-primary">View Portfolio</a>
    </div>
  </div>
</div>

