@{
  Layout = "_Layout";
}

<div class="container-fluid" id="page-container">

  <br>

  <div class="row justify-content-center">
    <div class="card" style="width: 80%; margin-bottom: 4rem; margin-top: 4rem; border: 1rem solid #6699CC; border-radius: 2rem">
      <img class="card-img-top" src="~/img/portfolio/NOBL_Chart.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Portfolio Performance</h5>
        <p class="card-text"><strong>Portfolio Value:</strong> $985.32</p>
        <p class="card-text"><strong>Portfolio Avg Annual Return (NOBL Index Fund):</strong> 10.76%</p>
        <a href="https://www.m1finance.com/" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login to Your M1 Finance Account</a>
        <a href="/Account/MockupProfileView" class="btn btn-primary">Back to Profile</a>
      </div>
    </div>
  </div>

</div>