@{
  Layout = "_Layout";
}

<div class="container-fluid" id="page-container">

  <br>

  <h1 style="margin-left: 6rem">Long-Term Portfolio Performance</h1>

  <a href="/Account/MockupProfileView" class="btn btn-primary" style="margin-left: 6rem">Back to Profile</a>

  <div class="row justify-content-center">
    <div class="card" style="width: 80%; margin-bottom: 4rem; margin-top: 4rem; border: 1rem solid #6699CC; border-radius: 0.25rem">
      <img class="card-img-top" src="~/img/portfolio/NOBL_Chart.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Portfolio Performance</h5>
        <p class="card-text"><strong>Portfolio Value:</strong> $985.32</p>
        <p class="card-text"><strong>Portfolio Avg Annual Return (NOBL Index Fund):</strong> 10.76%</p>
        <a href="https://www.m1finance.com/" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login to Your M1 Finance Account</a>
      </div>
    </div>
  </div>

  <br>

  <h1 style="margin-left: 6rem">Purchased Item Perpetuity Funds</h1>

  <div class="row justify-content-center">
    <div class="card" style="width: 80%; margin-bottom: 4rem; margin-top: 4rem; border: 1rem solid #6699CC; border-radius: 0.25rem">
      <img class="card-img-top" src="~/img/products/bed-frame/bed-frame-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">The Bed</h5>
        <p class="card-text"><strong>Replacement Fund Required: </strong> $168</p>
        <p class="card-text"><strong>Current Amount in Replacement Fund: </strong> $168</p>
        <p><strong>Congratulations! You're fully funded!</strong></p>
      </div>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="card" style="width: 80%; margin-bottom: 4rem; margin-top: 4rem; border: 1rem solid #6699CC; border-radius: 0.25rem">
      <img class="card-img-top" src="~/img/products/tubshroom/tubshroom-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">TubShroom Ultra Edition</h5>
        <p class="card-text"><strong>Replacement Fund Required: </strong> $9</p>
        <p class="card-text"><strong>Current Amount in Replacement Fund: </strong> $7</p>
        <p><strong>You're almost there!</strong></p>
        <a
          href="https://www.m1finance.com/"
          class="btn btn-primary"
        >Contribute to Perpetuity Fund</a>
      </div>
    </div>
  </div>

</div>