@{
  Layout = "_Layout";
}

<div class="container-fluid" id="page-container">

  <br>

  <div class="card" style="width: 100%">
    <img class="card-img-top" src="~/img/portfolio/NOBL_Chart.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Portfolio Performance</h5>
      <p class="card-text">NOBL Avg Annual Return: 10.76%</p>
      <a href="/Account/MockupProfileView" class="btn btn-primary">Back to Profile</a>
    </div>
  </div>
</div>