@{
    Layout = "_Layout";
}

@model Pattengoods.Models.Product

<div class="container-fluid" id="index-container">
    <div class="row">
        <div class="col-lg-3">

                <h1 class="my-4" id="index-title">Pattengoods</h1>


            <div class="list-group">
                <a
                    href="#"
                    class="list-group-item"
                >Appliance</a>

                <a
                    href="#"
                    class="list-group-item"
                >Bath & Toiletry</a>

                <a
                    href="#"
                    class="list-group-item"
                >Bedroom</a>

                <a
                    href="#"
                    class="list-group-item"
                >Cleaning</a>

                <a
                    href="#"
                    class="list-group-item"
                >Electronics</a>

                <a
                    href="#"
                    class="list-group-item"
                />Kitchen</a>

                <a
                    href="#"
                    class="list-group-item"
                >Outdoor</a>

                <a
                    href="#"
                    class="list-group-item"
                >Tools</a>

                <br>

                <a
                    href="#"
                    class="list-group-item"
                >Investments & Portfolio</a>
            </div>
        </div>

        <div class="col-lg-9">
            <div
                class="bd-example"
                style="margin-top: 1.5rem"
            >
                <div 
                    id="carouselExampleCaptions"
                    class="carousel slide"
                    data-ride="carousel"
                >
                    <ol class="carousel-indicators">
                        <li
                            data-target="#carouselExampleCaptions"
                            data-slide-to="0"
                            class="active"
                        ></li>
                        <li
                            data-target="#carouselExampleCaptions"
                            data-slide-to="1"></li>
                        <li
                            data-target="#carouselExampleCaptions"
                            data-slide-to="2"
                        ></li>
                    </ol>

                    <div class="carousel-inner">
                        <div
                            class="carousel-item active"
                            style="background-image: url(../../img/garage.jpg); height: 20rem; border-radius: 0.25rem"
                        >
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div
                                class="card"
                                id="carousel-card"
                            >
                                <h2>No decision fatigue. We find the best so you can have it.</h2>
                            </div>
                        </div>

                        <div
                            class="carousel-item"
                            style="background-image: url(../../img/interior.jpg); height: 20rem"
                        >
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div
                                class="card"
                                id="carousel-card"
                            >
                                <h2>Create an income-producing replacement fund tied to everything you buy.</h2>
                            </div>
                        </div>

                        <div
                            class="carousel-item"
                            style="background-image: url(../../img/backyard.jpg); height: 20rem"
                        >
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div
                                class="card"
                                id="carousel-card"
                            >
                                <h2>Build wealth one purchase at a time.</h2>
                            </div>
                        </div>
                    </div>

                    <a
                        class="carousel-control-prev"
                        href="#carouselExampleCaptions"
                        role="button"
                        data-slide="prev"
                    >
                        <span
                            class="carousel-control-prev-icon"
                            aria-hidden="true"
                        ></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a
                        class="carousel-control-next"
                        href="#carouselExampleCaptions"
                        role="button"
                        data-slide="next"
                    >
                        <span
                            class="carousel-control-next-icon"
                            aria-hidden="true"
                        ></span>

                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="../Products/DownComforterMockupView">
                            <img
                                class="card-img-top"
                                src="~/img/products/down-comforter/down-comforter.jpg"
                                alt=""
                            >
                        </a>

                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Baffled Box 850 Down Comforter</a>
                            </h4>

                            <h5>$1,109.00</h5>

                            <p class="card-text">Our line of Baffled Box 850 down comforters are our warmest comforters. Baffle wall construction allows for maximum loft, while the the 850+ fill power down provides incredible warmth at a minimal weight.</p>
                        </div>

                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#">
                            <img
                                class="card-img-top"
                                src="~/img/products/bed-frame/bed-frame-1.jpg"
                                alt=""
                            >
                        </a>

                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">The Bed</a>
                            </h4>

                            <h5>$995.00</h5>

                            <p class="card-text">Meet the perfect platform bed frame. Thoughtfully designed and crafted to elevate any bedroom. Includes natural walnut colored frame, PillowBoard and cushion-coated slats.</p>
                        </div>

                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#">
                            <img
                                class="card-img-top"
                                src="~/img/products/blender/blender.jpg"
                                alt=""
                            >
                        </a>

                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Professional Series 750</a>
                            </h4>

                            <h5>$599.95</h5>

                            <p class="card-text">Blender</p>
                        </div>

                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#">
                            <img
                                class="card-img-top"
                                src="~/img/products/tubshroom/tubshroom-1.jpg"
                                alt=""
                            >
                        </a>

                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">TubShroom Ultra Edition</a>
                            </h4>

                            <h5>$14.99</h5>

                            <p class="card-text">Hair catcher to prevent clogged tub drain</p>
                        </div>

                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#">
                            <img
                                class="card-img-top"
                                src="~/img/products/bed-sheets/bed-sheets.jpg"
                                alt=""
                            >
                        </a>

                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Percale Sheet Set</a>
                            </h4>

                            <h5>$240.00</h5>

                            <p class="card-text">Between the sheets is the place to be, especially when the sheets are right. Ours are a 500 thread count, Italian milled percale that is breathable, crisp, and incredibly smooth.</p>
                        </div>

                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#">
                            <img
                                class="card-img-top"
                                src="~/img/products/cleaning-gloves/cleaning-gloves.jpg"
                                alt=""
                            >
                        </a>

                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Nitrile Rubber Cleaning Gloves (12 Pairs)</a>
                            </h4>

                            <h5>$24.80</h5>

                            <p class="card-text">The BEST latex-free dishwashing gloves featuring chemical and cut resistant nitrile Rubber - Vinyl Free - Latex Free. 15 Mils Thick for Maximum Durability and Dexterity - Great for dishwashing, household chores, and cleaning. Odor Resistant Flock Lining. Slip Resistant Texturing - Long length to protect forearms. Guaranteed for 90 days for non-commercial use.</p>
                        </div>

                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>