@{
  Layout = "_Layout";
}

<div class="row">
  <div class="col-md-4">
    <div class="card" id="product-detail-card" style="text-align: center">
      
      <h1 style="margin-top: 1rem">Baffled Box 850 Down Comforter</h1>
      <p>Feathered Friends</p>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card" id="product-info-card">
      <img
        src="~/img/products/down-comforter/down-comforter.jpg"
        alt=""
        style="width: 80%; align-self: center; margin-top: 4rem"
      >

      <div
        class="card-body"
        style="width: 85%; align-self: center"
      >
        <h3>$1,109.00</h3>

        <p>Our line of Baffled Box 850 down comforters are our warmest comforters. Baffle wall construction allows for maximum loft, while the the 850+ fill power down provides incredible warmth at a minimal weight.</p>

        <p><strong>Estimated Useful Life: </strong>30 Yrs</p>

        <p><strong>Perpetuity Fund Amount (Conservative): </strong>$381</p>

        <a
          href="https://featheredfriends.com/products/feathered-friends-baffled-box-850-down-comforter"
          class="btn btn-primary"
        >Purchase</a>
        <a
          href="https://www.m1finance.com/"
          class="btn btn-primary"
        >Contribute to Perpetuity Fund</a>
      </div>
    </div>
  </div>
</div>